In [1]:
import math

In [3]:
pi=math.pi
pi

3.141592653589793

In [9]:
f'{pi}'

'3.141592653589793'

In [12]:
f'{pi:.5}'

'3.1416'

In [15]:
f'{pi:.4f}'

'3.1416'

In [17]:
f'{pi:12.4f}'
#12 will give us space

'      3.1416'

In [18]:
f'{pi:012.4f}'
#len  '0000003.1416' ==12

'0000003.1416'

In [20]:
f'{pi:+.4f}'
#12 will give us space

'+3.1416'

In [21]:
f'{pi:<12.4f}'
#12 will give us space from right side

'3.1416      '

In [23]:
f'{pi:^12.4f}'
#12 will give us space from both side

'   3.1416   '

In [24]:
f'{pi:=+12.4f}'
#12 will give us space after +

'+     3.1416'

# Regex

In [66]:
import math
num=int(input())
if num ==2 or num==3 or num==5 or num==7:
    print("sadedir")
elif num%2==0 or num%3==0 or num%5==0 or num%7==0 or math.sqrt(num)%1==0:
    print("sade deyil")
else:
    print("sadedir")

221
sadedir

In [90]:
count=0
num=int(input())
for i in range(1,num+1):
    if num%i==0:
        count+=1
if count>2:
    print("sade deyil")
else:print("sadedir")

221
sade deyil

In [591]:
import numpy as np
import pandas as pd
import re
# np.where(pd.isnull(df))
# df.dropna(axis=0,how="any",inplace=True)

In [592]:
df=pd.read_csv("regex.csv",  sep="\t")
np.where(pd.isnull(df))

(array([  6838,  11713,  11714,  11715,  19143,  19144,  19411,  30119,
         30121,  31212,  31213,  37978,  37979,  37980,  37981,  39972,
         94515, 107148], dtype=int64),
 array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0], dtype=int64))

In [597]:
df["ADDL_TEXT"].replace(np.nan,"No data",inplace=True)

In [633]:
df["ADDL_TEXT"][107409]

'BAKCELL PAYMENT~20180801~AZN~15.00~BAKU~4127..0431~4814~RD097228~AZE~~'

In [622]:
df["ADDL_TEXT"][1]
atm=re.findall("(^ATM\s\w*)\s",df["ADDL_TEXT"][1])
atm

['ATM CNV']

In [623]:
a=df["ADDL_TEXT"]
arr=[]
arr2=[]
arr3=[]
for i in range(len(a)):
    city=re.findall("~(\w*)~\d{4}..\d{4}",a[i])
    time=re.findall("~(\d{8})~\w{3}",a[i])
    atm=re.findall("(^ATM\s\w*)\s",a[i])
    arr+=[city]
    arr2+=[time]
    arr3+=[atm]

In [601]:
df1=pd.DataFrame(arr)
df1=df1.rename(columns={0:"City"})
df1=df1.drop(columns=1,axis=1)
df2=pd.DataFrame(arr2)
df2=df2.rename(columns={0:"Time"})
df=pd.concat([df,df1,df2],axis=1)
df

,RELATED_CUSTOMER,ADDL_TEXT,City,Time
0,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~10.00~BAKU...,BAKU,20180731
1,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~20.00~BAKU...,BAKU,20180731
2,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~20.00~BAKU...,BAKU,20180731
3,3922964.0,"ATM CNV,POCHT N111,3MKR~20180801~AZN~7.00~BAKU...",BAKU,20180801
4,3923336.0,"ATM CNV SUM 3 MKR,~20180801~AZN~145.00~BAKU~41...",BAKU,20180801
...,...,...,...,...
107409,4839400.0,BAKCELL PAYMENT~20180801~AZN~15.00~BAKU~4127.....,BAKU,20180801
107410,4839404.0,AZERCELL PAYMENT~20180801~AZN~1.00~BAKU~4127.....,BAKU,20180801
107411,4839429.0,KATV TV (PP)~20180801~AZN~32.00~BAKU~4127..070...,BAKU,20180801
107412,4839429.0,"ATM CCS, YASAMAL DSMF~20180801~AZN~5.00~BAKU~4...",BAKU,20180801
107413,4839429.0,"ATM CCS, TEL QEB KOM-SI~20180801~AZN~40.00~BAK...",BAKU,20180801

In [628]:
df3=pd.DataFrame(arr3)
df3=df3.rename(columns={0:"Atm"})
df=pd.concat([df,df3],axis=1)
df

,RELATED_CUSTOMER,ADDL_TEXT,City,Time,Atm
0,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~10.00~BAKU...,BAKU,20180731,ATM CNV
1,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~20.00~BAKU...,BAKU,20180731,ATM CNV
2,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~20.00~BAKU...,BAKU,20180731,ATM CNV
3,3922964.0,"ATM CNV,POCHT N111,3MKR~20180801~AZN~7.00~BAKU...",BAKU,20180801,None
4,3923336.0,"ATM CNV SUM 3 MKR,~20180801~AZN~145.00~BAKU~41...",BAKU,20180801,ATM CNV
...,...,...,...,...,...
107409,4839400.0,BAKCELL PAYMENT~20180801~AZN~15.00~BAKU~4127.....,BAKU,20180801,None
107410,4839404.0,AZERCELL PAYMENT~20180801~AZN~1.00~BAKU~4127.....,BAKU,20180801,None
107411,4839429.0,KATV TV (PP)~20180801~AZN~32.00~BAKU~4127..070...,BAKU,20180801,None
107412,4839429.0,"ATM CCS, YASAMAL DSMF~20180801~AZN~5.00~BAKU~4...",BAKU,20180801,None
107413,4839429.0,"ATM CCS, TEL QEB KOM-SI~20180801~AZN~40.00~BAK...",BAKU,20180801,None

In [632]:
df["Time"]=pd.to_datetime(df['Time'])
df

,RELATED_CUSTOMER,ADDL_TEXT,City,Time,Atm
0,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~10.00~BAKU...,BAKU,2018-07-31,ATM CNV
1,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~20.00~BAKU...,BAKU,2018-07-31,ATM CNV
2,3922924.0,ATM CNV FAVORIT MARKET~20180731~AZN~20.00~BAKU...,BAKU,2018-07-31,ATM CNV
3,3922964.0,"ATM CNV,POCHT N111,3MKR~20180801~AZN~7.00~BAKU...",BAKU,2018-08-01,None
4,3923336.0,"ATM CNV SUM 3 MKR,~20180801~AZN~145.00~BAKU~41...",BAKU,2018-08-01,ATM CNV
...,...,...,...,...,...
107409,4839400.0,BAKCELL PAYMENT~20180801~AZN~15.00~BAKU~4127.....,BAKU,2018-08-01,None
107410,4839404.0,AZERCELL PAYMENT~20180801~AZN~1.00~BAKU~4127.....,BAKU,2018-08-01,None
107411,4839429.0,KATV TV (PP)~20180801~AZN~32.00~BAKU~4127..070...,BAKU,2018-08-01,None
107412,4839429.0,"ATM CCS, YASAMAL DSMF~20180801~AZN~5.00~BAKU~4...",BAKU,2018-08-01,None
107413,4839429.0,"ATM CCS, TEL QEB KOM-SI~20180801~AZN~40.00~BAK...",BAKU,2018-08-01,None