In [26]:
# Artificial Neural Network

# Part 1 - Data Preprocessing
# Importing the libraries
import numpy as np
import pandas as pd

from keras import backend as K
from keras.layers import Dense
from keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score, f1_score

In [27]:
def recall_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
        recall = true_positives / (possible_positives + K.epsilon())
        return recall

def precision_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
        precision = true_positives / (predicted_positives + K.epsilon())
        return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [28]:
# Importing the dataset
dataset = pd.read_csv('BankCustomers.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [29]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [30]:
len(dataset)-dataset['Exited'].sum(),dataset['Exited'].sum()

(7963, 2037)

In [31]:
# convert categorical feature into dummy variables
states=pd.get_dummies(X['Geography'])
gender=pd.get_dummies(X['Gender'],drop_first=True)

#concatenate the remaining dummies columns
X=pd.concat([X,states,gender],axis=1)

#drop the columns as it is no longer required

X=X.drop(['Geography','Gender'],axis=1)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,0

In [32]:
# Splitting the dataset into the Training set and Test set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [33]:
# Feature Scaling

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [34]:
X_train

array([[-0.09792126, -0.55759842, -1.03635146, ..., -0.56987189,
        -0.5731713 ,  0.92295821],
       [-1.12612023,  0.01725942,  0.69700901, ..., -0.56987189,
        -0.5731713 ,  0.92295821],
       [-0.62230274,  3.5622161 ,  0.00366482, ..., -0.56987189,
        -0.5731713 , -1.08347268],
       ...,
       [ 0.89943174, -0.36597914,  0.00366482, ..., -0.56987189,
        -0.5731713 ,  0.92295821],
       [-0.62230274, -0.07855022,  1.39035319, ..., -0.56987189,
         1.74467913, -1.08347268],
       [-0.28299708,  0.87954618, -1.38302356, ...,  1.75478035,
        -0.5731713 , -1.08347268]])

In [35]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=12, units=6))

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1))

In [36]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = [f1_m, 'accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 20, class_weight={0:1, 1:4})

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

C:\Users\sabuh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """

Epoch 1/20
7000/7000 [==============================] - 2s 342us/step - loss: 1.0972 - f1_m: 0.3057 - accuracy: 0.5413
Epoch 2/20
7000/7000 [==============================] - 2s 343us/step - loss: 0.9560 - f1_m: 0.4348 - accuracy: 0.6769
Epoch 3/20
7000/7000 [==============================] - 2s 251us/step - loss: 0.8902 - f1_m: 0.4556 - accuracy: 0.7173
Epoch 4/20
7000/7000 [==============================] - 2s 231us/step - loss: 0.8588 - f1_m: 0.4678 - accuracy: 0.7230
Epoch 5/20
7000/7000 [==============================] - 2s 290us/step - loss: 0.8314 - f1_m: 0.4918 - accuracy: 0.7353
Epoch 6/20
7000/7000 [==============================] - 3s 398us/step - loss: 0.8088 - f1_m: 0.5016 - accuracy: 0.7391
Epoch 7/20
7000/7000 [==============================] - 2s 341us/step - loss: 0.7939 - f1_m: 0.4988 - accuracy: 0.7521
Epoch 8/20
7000/7000 [==============================] - 3s 359us/step - loss: 0.7804 - f1_m: 0.5048 - accuracy: 0.7524
Epoch 9/20
7000/7000 [==============================] - 2s 348us/step - loss: 0.7718 - f1_m: 0.4979 - accuracy: 0.7597
Epoch 10/20
7000/7000 [==============================] - 2s 340us/step - loss: 0.7663 - f1_m: 0.5111 - accuracy: 0.7687
Epoch 11/20
7000/7000 [==============================] - 2s 351us/step - loss: 0.7612 - f1_m: 0.5116 - accuracy: 0.7637
Epoch 12/20
7000/7000 [==============================] - 2s 252us/step - loss: 0.7569 - f1_m: 0.5104 - accuracy: 0.7727
Epoch 13/20
7000/7000 [==============================] - 2s 256us/step - loss: 0.7542 - f1_m: 0.5085 - accuracy: 0.7723
Epoch 14/20
7000/7000 [==============================] - 2s 309us/step - loss: 0.7512 - f1_m: 0.5185 - accuracy: 0.7719
Epoch 15/20
7000/7000 [==============================] - 2s 342us/step - loss: 0.7498 - f1_m: 0.5119 - accuracy: 0.7737
Epoch 16/20
7000/7000 [==============================] - 2s 342us/step - loss: 0.7481 - f1_m: 0.5200 - accuracy: 0.7753
Epoch 17/20
7000/7000 [==============================] - 3s 361us/step - loss: 0.7448 - f1_m: 0.5215 - accuracy: 0.7733
Epoch 18/20
7000/7000 [==============================] - 2s 353us/step - loss: 0.7460 - f1_m: 0.5174 - accuracy: 0.7763
Epoch 19/20
7000/7000 [==============================] - 2s 355us/step - loss: 0.7459 - f1_m: 0.5261 - accuracy: 0.7746
Epoch 20/20
7000/7000 [==============================] - 2s 352us/step - loss: 0.7434 - f1_m: 0.5350 - accuracy: 0.7853

In [42]:
from ann_visualizer.visualize import ann_viz
from graphviz import Digraph

ann_viz(classifier, title="My first neural network")
ann_viz(
  classifier, 
  view=True, 
  model=""

)

TypeError: ann_viz() got multiple values for argument 'model'

In [21]:
# Making the Confusion Matrix
#y_test=y_test.values.reshape(y_test.shape[0], 1)

cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)

print(accuracy)
#print(cm)
print(f1)

0.7676666666666667
0.5907222548443922