In [2]:
import numpy as np
import pandas as pd
dic={"Id":[1,2,3,4,1,2],
    "Age":[18,25,36,45,18,25],
    "Salary":[1000,1500,2000,1500,1200,1800],
    "Date":["01.01.2019","01.01.2019","01.01.2019","01.01.2019","01.02.2019","01.02.2019"]}
df=pd.DataFrame(dic)
df=df.groupby('Id')["Salary"].mean().reset_index()
df

   Id  Salary
0   1    1100
1   2    1650
2   3    2000
3   4    1500

In [ ]:
# dic={"Id":[1,2,3,4,1,2],
#     "Age":[18,25,36,45,18,25],
#     "Salary":[1000,1500,2000,1500,1200,1800],
#     "Date":["01.01.2019","01.01.2019","01.01.2019","01.01.2019","01.02.2019","01.02.2019"]}
# df=pd.DataFrame(dic)

# # df.axes
# # df.dtypes
# # df.ndim
# # df.shape
# # df.size
# # a=pd.DataFrame(np.random.rand(5,3),columns=["Col1","Col2","Col3"])
# # d=pd.DataFrame(np.random.rand(5,3),columns=["A","B","C"])


# a=df[["Id","Salary"]]
# x1,x2=np.split(a,[4])