In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [119]:
df=pd.read_csv("BankCustomers.csv")
Main=df.iloc[:,3:]
Geography=pd.get_dummies(Main["Geography"],drop_first=True)
Gender=pd.get_dummies(Main["Gender"],drop_first=True)
Main=pd.concat([Main,Geography],axis=1)
Main=pd.concat([Main,Gender],axis=1)
Main.drop(["Geography","Gender"],axis=1,inplace=True)
x=Main.iloc[:,1:]
y=Main.iloc[:,0:1]

In [120]:
#Normalization
x=x.apply(lambda x: (x-min(x))/(max(x)-min(x)))
y=y.apply(lambda y: (y-min(y))/(max(y)-min(y)))

In [174]:
#train test split
x_train=x.iloc[:7000,:][["Balance","EstimatedSalary"]]
y_train=y.iloc[:7000,:]
x_test=x.iloc[7000:,:][["Balance","EstimatedSalary"]]
y_test=y.iloc[7000:,:]

In [185]:
b=0
k1=1
k2=1
y_pred=k1*x_train["Balance"]+k2*x_train["EstimatedSalary"]+b
error=(y_train-y_pred)**2/len(x_train)
error

,CreditScore,0,1,2,3,4,5,6,7,8,...,6990,6991,6992,6993,6994,6995,6996,6997,6998,6999
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN